body {
    background: url(https://cdn.architextures.org/textures/24/5/sand-j9sy8a.jpg);
    background-size:72%;
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
}
#sky {
    background: linear-gradient(rgb(32, 34, 168), rgb(119, 113, 199), rgb(79, 40, 209))
    ;
    height: 40%;
}
#slot-machine {
    height: 150px;
    width: 250px;
}