body {
    background: url(https://cdn.architextures.org/textures/24/5/sand-j9sy8a.jpg);
    background-size:72%;
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
}
#sky {
    background: linear-gradient(rgb(32, 34, 168), rgb(119, 113, 199), rgb(79, 40, 209))
    ;
    height: 40%;
}
#slot-machine {
    height: 100x;
    width: 100px;
    position:absolute;
    top: 240px;
    left: 10px;
    z-index:30;
}
#buildings {
    height: 275px;
    width: 550px;
    position:absolute;
    top:0px;
    left:0px;
}
#fence {
    height: 300px;
    width: 800px;
    position:absolute;
    top: 100px;
    left: -20px;
    z-index: 10;
}
#ocean {
    height: 300px;
    width: 800px;
    position: absolute;
    top: 450px;
    left:-30px;
}
#ferris-wheel {
    height: 350px;
    width: 300px;
    top: -50px;
    left: 450px;
    position:absolute;
}


